#map-new {
  height: 30vh;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map-new #infowindow-content {
  display: inline;
}


#pac-container {
  margin: 20px;
  #pac-input {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    display: block;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    width: 100%;
    overflow: hidden;
  
    #pac-input input[type="text"]{
      border: none;
      height: 2.0em;
    }
    #pac-input input[type="text"]:focus {
      outline: 0;
    }
  }
  
}    
    // #pac-input {
      
    //   background-color: #fff;
    //   font-family: Roboto;
    //   font-size: 20px;
    //   font-weight: 300;
    //   margin-left: 12px;
    //   padding: 0 11px 0 13px;
    //   text-overflow: ellipsis;
    //   width: 400px;
    // }
    
    // #pac-input:focus {
    //   border-color: #4d90fe;
    // } 
