<footer id="nav-bar" class="fixed-bottom">
  <nav class="nav">
    <%= active_link_to root_path, class: "nav__link", :active => [['maps'], ['index']] do %>
      <%= embedded_svg("search-white-24dp.svg", class: "home.svg nav__icon") %>
      <span class="nav__text">探す</span>
    <% end %>
    <%= active_link_to maps_index_path, class: "nav__link" do %>
      <%= embedded_svg("remove_red_eye-white-24dp.svg", class: "list.svg nav__icon") %>
      <span class="nav__text">見つけた</span>
    <% end %>
  </nav>
</footer>